.function {
    margin-top: 3rem;

    &__meta {
        padding: 0;

        &__name {
            list-style-type: none;
            display: inline-block;

            @include colors('secondary');
            @include box(false, 'small');
        }
    }

    &__param {
        &__type {
            margin-right: 0.5rem;
            font-family: monospace;
        }

        &__description {
            margin-left: 0.5rem;
        }
    }

    &__example {
        &__code {
            font-family: monospace;
        }   
    }

    &__returns {
        margin-right: 0.5rem;
        font-family: monospace;
    }
}
