@mixin box($use_shadow: true, $size: 'large') {
    border-radius: 0.5rem;

    @if($size == 'large') { 
        padding: 1rem;
    }
    
    @if($size == 'small') { 
        padding: 0.25rem 0.5rem;
    }

    @if($use_shadow == true) {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
}

@mixin colors($type) {
    @if($type == 'primary') {
        background-color: $color-primary-bg;
        color: $color-primary-txt;
    }
    
    @if($type == 'secondary') {
        background-color: $color-secondary-bg;
        color: $color-secondary-txt;
    }
    
    @if($type == 'secondary-dark') {
        background-color: $color-secondary-dark-bg;
        color: $color-secondary-dark-txt;
    }
    
    @if($type == 'standard') {
        background-color: $color-standard-bg;
        color: $color-standard-txt;
    }
    
    @if($type == 'standard-dark') {
        background-color: $color-standard-dark-bg;
        color: $color-standard-dark-txt;
    }
}
