.container {
    width: calc(100% - 2rem);
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}   

.text-left {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 4rem 0;
    
    @media($tablet-down) {
        grid-template-columns: auto auto;
    }

    @media($mobile-down) {
        grid-template-columns: auto;
    }

    &__item {
        position: relative;

        &__background {
            pointer-events: none;
            font-size: 4rem;
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 100%;
            max-height: 100%;
            transform: translate(-50%, -50%);
            color: $color-standard-txt;
            opacity: 0.25;
            z-index: -1;
        }

        &__heading {
            margin: 0;
        }
    }
}
