// Colours
$color-standard-bg: #eeeeee;
$color-standard-txt: #333333;

$color-standard-dark-bg: darken($color-standard-bg, 10%);
$color-standard-dark-txt: $color-standard-txt;

$color-primary-bg: #e70d3b;
$color-primary-txt: white;

$color-primary-dark-bg: darken($color-primary-bg, 10%);
$color-primary-dark-txt: $color-primary-txt;

$color-secondary-bg: #21303b;
$color-secondary-txt: white;

$color-secondary-dark-bg: darken($color-secondary-bg, 10%);
$color-secondary-dark-txt: $color-secondary-txt;

// Breakpoints
$desktop-up: "min-width: 1600px";
$desktop-down: "max-width: 1599px";

$laptop-up: "min-width: 1200px";
$laptop-down: "max-width: 1199px";

$tablet-up: "min-width: 992px";
$tablet-down: "max-width: 991px";

$mobile-up: "min-width: 768px";
$mobile-down: "max-width: 767px";
