$color-standard-bg: white;
$color-standard-txt: black;

$color-standard-dark-bg: lightgrey;
$color-standard-dark-txt: dimgrey;

$color-primary-bg: red;
$color-primary-txt: white;

$color-secondary-bg: blue;
$color-secondary-txt: white;
