.widget {
    &--notice {
        padding: 2rem 0;

        @include colors('primary'); 

        &__heading {
            margin: 0 0 1em 0;
        }
    }

    &--breadcrumbs {
        padding: 1rem 0;

        @include colors('secondary-dark');
    }

    &--parameter-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 2;
    }

    &--directory {
        margin: 1rem 0;
        list-style-type: none;
        padding: 0;
        line-height: 2;
    }
}
